* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
}
p {
  font-size: 1rem; /* 16px*/
  line-height: 1.9rem;
}
a {
  text-decoration: none;
}
.main-container {
  width: 1100px;
  margin: 0 auto;
}
.btn {
  padding: 1rem 1.5rem;
  background: white;
  border: 1.5px solid black;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.btn:hover {
  color: white;
  background: black;
}

/* tittle */
.pre-title {
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  color: grey;
  position: relative;
  padding-left: 40px;
  width: fit-content;
  font-weight: 500;
  font-size: 1rem;
}

.pre-title::before {
  content: "";
  width: 20px;
  height: 1px;
  background: black;
  position: absolute;
  left: 0;
  top: 50%;
}

/* logo dan navbar menu*/
header {
  background-color: darkgray;
}
.nav {
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;
  transition: 0.2s ease-in-out;
}

.nav ul {
  list-style: none;
  display: flex;
  gap: 3rem;
}

.nav ul li {
  transition: opacity 1s easeInOut 0s;
}

.nav ul li :hover {
  opacity: 0.6;
}

.logo {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 1rem;
}
.logo a {
  color: black;
}
nav ul li a {
  color: black;
}

/* Home Section */
#home {
  height: 700px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  background: lightgrey;
  padding-left: 100px;
  padding-right: 100px;
}

.home-name {
  font-size: 3rem;
  font-weight: 700;
  margin: 0.5rem 0 1rem;
  color: black;
}

.home-right img {
  width: 280px;
  border-radius: 0.7rem;
  padding-top: 5rem;
  margin-bottom: 200px;
  background: bl;
  filter: drop-shadow(18px 18px 10px #000000);
}

.home-right {
  display: flex;
  justify-content: center;
  position: relative;
}

section {
  padding-left: 3rem;
  padding-bottom: 5rem;
}
/* About section */
#about {
  background-color: white;
  padding: 6rem 0;
}

.section-title-about {
  text-align: center;
  margin: 1rem 0 4rem;
}

/* layout */
.grid-3 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 3rem;
}

.about {
  padding: 3rem 2rem;
  text-align: center;
  background: black;
  border-radius: 0.7rem;
  color: white;
  box-shadow: -30px 30px 20px rgba(0, 0, 0, 0.3);
}

.about h4 {
  color: white;
  margin: 0.5rem 0;
}

.about p {
  color: white;
}

.about-icon {
  background-color: lightgray;
  width: fit-content;
  margin: 0 auto;
  padding: 1rem 1.3rem;
  border-radius: 0.5rem;
}

/* end of about */

/* SKills & Experience */

#skills-div {
  padding: 6rem 0;
  background: lightgrey;
}

.skills {
  width: 100%;
  max-width: 600px;
  padding: 0 20px;
}

.skill-name {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 20px 0;
}

.skill-bar {
  height: 14px;
  background: #282828;
  border-radius: 3px;
}

.skill-per {
  height: 14px;
  background: burlywood;
  border-radius: 3px;
  position: relative;
  animation: fillBars 4.5s 1;
}

.skill-per::before {
  content: attr(per);
  position: absolute;
  padding: 4px 6px;
  background: #f1f1f1;
  border-radius: 4px;
  font-size: 12px;
  top: -35px;
  right: 0;
  transform: translateX(50%);
}

.skill-per::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  top: -20px;
  right: 0;
  transform: translateX(50%) rotate(45deg);
  border-radius: 2px;
}

@keyframes fillBars {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.section-title-skills {
  text-align: center;
  margin: 1rem 0 4rem;
}

.skills-grid {
  display: flex;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 3rem;
}

.experience {
  display: flex;
  gap: 2rem;
}

.experience line {
  padding: 0 0.7rem;
}

.experience .line div {
  width: 2px;
  height: 100%;
  background: black;
  position: relative;
}

.experience-info {
  margin: 0.3rem 0;
}

.experience-date {
  margin-bottom: 3rem;
}

.experience .line div::before {
  content: "";
  width: 15px;
  height: 15px;
  background: black;
  border-radius: 50%;
  position: absolute;
  left: -6px;
}

.skills-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 1.5rem;
}

.skills-right {
  line-height: 2rem;
  padding: 0 1rem;
}

/* End of Experience */

/* Contact section */

#contact {
  padding: 6rem;
  background: white;
}

.contact-form div {
  margin-bottom: 1.4rem;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 0.75rem 1.3rem;
  font-family: "Roboto", "sans-serif";
  background: white;
  border: 1px solid gainsboro;
  border-radius: 3px;
  resize: none;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
  color: black;
}

.contact-form input:focus,
.contact-form textarea:focus {
  outline: none;
  border: 1px solid grey;
}

.btn-submit {
  width: 100%;
  padding: 0.75rem 1.3rem;
  background-color: black;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.btn-submit:hover {
  background-color: lightgrey;
  color: black;
}

/* End of Contact */

/* footer */

footer {
  margin-bottom: 0;
  padding: 4rem 0;
  background: lightgrey;
  text-align: center;
}

.footer-icon {
  margin-bottom: 1rem;
}

.footer-icon a {
  margin: 0 0.5rem;
}

.footer-icon a:hover {
  fill: black;
}

.footer-icon {
  fill: grey;
}
